# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local
**/generated_keys/
**/filestore/

# HTTPS certificate
cert.pem
key.pem
keytmp.pem

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
