# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local
**/generated_keys/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
