.main {
    /* width: 610px;
    height: 210px;
    padding: 10px; */
    width: 920px;
    /* margin-top: -10px; */
    padding: 10px;
    box-sizing: content-box;
    display: block;
    float: none;
    line-height: normal;
    position: relative;
    z-index: auto;
}

.leftDiv {
    box-sizing: content-box;
    /* float: left;
    width: 200px; */
    /* color: red; */
    background-color: red;
    height: 200px; 
    box-sizing: content-box;
    display: block;
    float: left;
    line-height: normal;
    /* position: relative offset div.main; */
    z-index: auto;
}


.middleDiv {
    /* width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    */
    box-sizing: content-box;
    display: block;
    float: none;
    line-height: normal;
    z-index: auto;
    

}

.rightDiv {
    /* float: right;
    width: 200px;
    height: 200px; */
    box-sizing: content-box;
    display: block;
    float: right;
    line-height: normal;
    z-index: auto;
}