.main {
   
    width: 920px;
    padding: 10px;
    box-sizing: content-box;
    display: block;
    float: none;
    line-height: normal;
    background-color: aqua;
}

.leftDiv {
    box-sizing: content-box;
    background-color: rgb(236, 233, 233);
    height: 200px; 
    box-sizing: content-box;
    display: block;
    float: left;
    line-height: normal;
}


.middleDiv {
    box-sizing: content-box;
    display: block;
    float: none;
    line-height: normal;

}

.rightDiv {
    box-sizing: content-box;
    display: block;
    float: right;
    line-height: normal;

}

.test {
    color: aquamarine;
}